# General detritus
*~
.*.sw?
# Python detritus
*.py[oc]
# Package-building detritus
/build
/dist
/*.egg-info
/MANIFEST
_build/
/cover
.coverage
.tox
/.eggs
__pycache__
# Other random nonsense
/.venv
*.db
.DS_Store
/tests/results.xml
