$def with (project, notes)

$var title: Notes for $project.project

<p><a href="..">&#8592; Back to projects</a></p>

$if project.overview:
	<h2>Overview</h2>
	<div class="overview">$:creole2html(project.overview)</div>

<h2>Notes</h2>

<form action="" method="post">
<div><textarea name="note"></textarea></div>
<div><input type="submit" value="Post"></div>
</form>

$for note in notes:
	<div class="note">
	<a href="#p$note.note_id" name="p$note.note_id" class="pnum">&para;</a>
	$:creole2html(note.note)
	</div>
$if not notes:
	<p><em>No notes!</em></p>
